body{
    background-color: #ffcc99;  
}
.search ul{
   height: 50% !important;

}
.search li{
   background-color: white !important;
}
.search li:hover{
    background-color: #ffcc99 !important
}
ul a{
    color: white;
    padding: 10px 20px !important;
    border-radius: 20px !important;
    margin-left: 10px !important;
    border: 1px solid #FF7629 !important ;
}
.logo-div a{
    background-color: none !important;
    color: white !important;
    font-weight: bold !important;
 }
 .all h2,.all p{
     color: #b83d00 !important;
 }
 .span{
    background-color:#ff7b00 !important ;
 }
 .title{
     color:#b83d00 !important;
 }
.section1{
  height: 50vh !important;
  background-image: url(../images/89720c5adc25a7a0df7cc6d961181972.jpg);
  background-position: bottom;
  background-size:cover;
}
input{
    position: relative !important;
    border-radius: 25px !important;
    padding: 10px 20px !important;
}
.error{
    border-radius: 25px !important;
    padding: 10px 20px !important;
    background-color:#ffcc99 !important ;
    color:#FF7629 !important;
}
.logo{
    width: 70px;
   height: 50px;
}
h1{
margin-top: 100px !important;
color: #FF7629 !important;
}
#data img{
    width: 100% !important;
    height: 300px !important;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
